<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>
  <body>

    <!-- modal -->
    <div class="modal fade" id="userDelete" tabindex="-1" aria-labelledby="userDeleteLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="userDeleteLabel">Delete User</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this user?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id="confirmDeleteBtn" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal -->

    <div class="bodyWrapper">
     <%- include('./components/sideBar.ejs') %>
      <section class="content">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div>
            <!-- Add any other elements here if needed -->
          </div>
          <a href="users/add-user" class="btn btn-success">Add User</a>
        </div>
        <table id="myTable" class="display table table-dark table-striped">
          <thead>
              <tr>
                  <th>#SNO</th>
                  <th>Avatar</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <% if (userData && userData.length > 0) { %>
              <% userData.forEach((user, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><img 
                    src="data:<%= user.imageType %>;base64,<%= user.userImage.toString('base64') %>" alt="Your Image">
                  </td> 
                  <td><%= user.userName %></td> 
                  <td><%= user.userEmail %></td> 
                  <td><%= user.userRole %></td> 
                  <td>
                    <a href="users/edit-user/<%= user.userId %>" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a> 
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#userDelete" data-userid="<%= user.userId %>"><i class="fa-solid fa-trash"></i></a>
                  </td>
                </tr>
              <% }) %>
            <% } else { %>
              <tr>
                <td colspan="6">No user data available.</td>
              </tr>
            <% } %>
          </tbody>
      </table>
      </section>
    </div>
  <%- include('./components/scripts.ejs') %>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      var userIdToDelete = null;

      var deleteButtons = document.querySelectorAll('.btn-danger[data-bs-toggle="modal"]');
      deleteButtons.forEach(button => {
        button.addEventListener('click', function() {
          userIdToDelete = this.getAttribute('data-userid');
        });
      });

      document.getElementById('confirmDeleteBtn').addEventListener('click', function() {
        if (userIdToDelete) {
          // Make your delete request here, e.g., using fetch API
          fetch(`/users/delete-user/${userIdToDelete}`, {
            method: 'DELETE'
          }).then((response)=>{
            if(response.ok){
              window.location.href="/users"
            }
          })
       
        }
      });
    });
  </script>
  </body>
</html>
